{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1 class="my-4">{% trans 'Statuses' %}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'statuses:create' %}">{% trans "Create status" %}</a>
    <table class="table table-striped table-bordered shadow align-middle">
        <thead>
        <tr>
            <th class="rounded-2">ID</th>
            <th class="rounded-2">{% trans 'Name' %}</th>
            <th class="rounded-2">{% trans 'Created at' %}</th>
            <th class="rounded-2"></th>
        </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
                <tr>
                    <td class="rounded-2">{{ status.pk }}</td>
                    <td class="rounded-2">{{ status.name }}</td>
                    <td class="rounded-2">{{ status.created_at }}</td>
                    <td class="rounded-2">
                        <a class="btn btn-success btn-sm shadow" href="{% url 'statuses:update' status.pk %}">{% trans "Update" %}</a>
                        <a class="btn btn-danger btn-sm shadow" href="{% url 'statuses:delete' status.pk %}">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}